<html>
	<head>
		<title>Ma page Web</title>
	</head>
	<body>
		<h1>Ma 1er page Symfony</h1>
		<h2>Bienvenu
			{{ prenom }}</h2>
		<p>Vous avez
			{{ age }}
			ans</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate adipisci ex libero vitae possimus delectus ducimus asperiores, voluptatibus nesciunt cum aut illo facilis sunt veniam architecto incidunt iste voluptatem repellat?</p>

		<form action="POST">
			<label for="name">Name :
			</label>
			<input type="text" id="name">
		</form>

		<ul>
			<li>Test 1</li>
			<li>Test 2</li>
			<li>Test 3</li>
		</ul>

	</body>
</html>
